body {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
@media screen and (min-width: 900px) {
    .card {
        flex: 1 1 calc(33% - 2rem);
    }
}

.headers {
    max-width: 1200px;
    margin-left:auto; 
    margin-right:auto;
}

.buttons {
    max-width: 1200px;
    margin-left:auto; 
    margin-right:auto;
}

.tables {
    width: 70%;
    padding: 2px 3px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    font: 17px Calibri;
}


#infoTable th, #infoTable td {    
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;  
}

#create {
    margin-left:auto; 
    margin-right:auto;
}

#read {
    margin-left:auto; 
    margin-right:auto;
}

#update {
    margin-left:auto; 
    margin-right:auto;
}

#destroy {
    margin-left:auto; 
    margin-right:auto;
}
